extends layout

block content

    h1 #{orderId}

    p

    <!-- Search input -->

    input(
    class='form-control'
    id='myInput'
    type='text'
    placeholder='Search'
    )

    p

    table(class='table table-hover table-bordered')

        thead

            tr
                th #

                th Item Number

                th Description

                th Customer ProductId

                th Quantity

                th Price

                th Price with VAT

            each orderLine, index in result

                tbody(id='myTable')

                    tr

                        td #{orderLine['POSITIONNUMBER'][0]}

                        td #{orderLine['PRODUCTIDSUPPLIER'][0]}

                        td #{orderLine['CHARACTERISTIC'][0]['DESCRIPTION'][0]}

                        td #{orderLine['PRODUCTIDBUYER'][0]}

                        td #{orderLine['ORDEREDQUANTITY'][0]}

                        td #{orderLine['ORDERPRICE'][0]}

                        td #{orderLine['PRICEWITHVAT'][0]}


    p

    a(href='../createOrder/' + orderId).btn.btn-success.btn-sm Create Order<br>
