extends layout

block content

  <!-- Search input -->

  input(
  class='form-control'
  id='myInput'
  type='text'
  placeholder='Search'
  )

  p

  <!-- Data table-->

  table(class='table table-hover table-bordered')

    thead

      tr

        th Customer

        th Order Number

        th Order Date

        th Delivery Date

        th Delivery Plase

        th Action

      each order, index in result

        tbody(id='myTable')

          tr

            td #{order['CUSTOMER']}

            td #{order['ORDER'].NUMBER}

            td #{order['ORDER'].DATE}

            td #{order['ORDER'].DELIVERYDATE}

            td #{order['ORDER']['HEAD'][0]['DELIVERYPLACE'][0]}

            td
              a(class='text-primary' href='../createOrder/' + order['ORDER'].NUMBER) Create Order<br>
              a(class='text-info' href='../details/' + order['ORDER'].NUMBER) View Details<br>
              a(class='text-danger' href='') Delete

